/node_modules
/.pnp
.pnp.js

/.next/
/out/
/dist/
/build

.env
.env.local
.env.development
.env.test
.env.production
.env.*.local
.vscode/
*.sublime-project
*.sublime-workspace
.idea/
.DS_Store
Thumbs.db
*.log
/coverage